<% include header %>

	<h2>Add New Game.</h2>
	
	
	
<select class="selectpicker" data-width="1000px">
  <option>Mustard</option>
  <option>Ketchup</option>
  <option>Relish</option>
</select>

<!-- <form> -->
  <!-- <div class="form-row align-items-center"> -->
    <!-- <div class="col-auto> -->
      <!-- <label for="inlineFormCustomSelect">Number Of Items: </label> -->
      <!-- <select class="custom-select mr-sm-2" id="inlineFormCustomSelect"> -->
        <!-- <option selected>Choose...</option> -->
        <!-- <option value="1">1</option> -->
        <!-- <option value="2">2</option> -->
        <!-- <option value="3">3</option>         -->
        <!-- <option value="4">4</option> -->
        <!-- <option value="5">5</option> -->
        <!-- <option value="6">6</option>		 -->
		<!-- <option value="7">7</option> -->
		<!-- <option value="8">8</option> -->
        <!-- <option value="9">9</option> -->
        <!-- <option value="10">10</option>		 -->
      <!-- </select> -->
    <!-- </div> -->
    <!-- <div class="col-auto"> -->
        <!-- <div class="form-group"> -->
    <!-- <label for="listName">List Name: </label> -->
    <!-- <input type="text" class="form-control" id="listName" placeholder="Name"> -->
  <!-- </div> -->
      <!-- </div> -->

    <!-- <div class="col-auto"> -->
      <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    <!-- </div> -->
  <!-- </div> -->
  
      <!-- </div> -->
<!-- </form> -->
	
<% include footer %>
